.header {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.header > button {
    padding: 8px 20px;
    background-color: black;
    color: yellow;
    border-radius: 10px;
    font-size: 20px;
}